# Prerequisites
*.d

# Source files
*.cpp
*.cxx

# Headers
*.h
*.hpp
*.hxx

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Other files
*.sln
*.vcxproj
*.vcxproj.users
*.vcxprog.filters

# Executables
*.exe
*.out
*.app
